@import './fonts.scss';

body {
  margin: 0;
  // font-family: 'Acrom', -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: 'Acrom', sans-serif;
  font-weight: 400px;
  font-style: normal;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
